
<div class=" row d-flex flex-row " style="margin-left: 4%">

  <div id="categories" class="dashboard-panel col-sm">
    <div class="h4 title"> blog categories </div>
    <% @categories.each do |category| %>

        <%= link_to edit_category_path(category) do %>
          <%= render category %>
        <% end %>

    <% end %>

    <strong><%= BlogPost.public_count %></strong> Public Articles and <strong><%= Category.all.count %></strong> Categories.

    <div class=" category-new card">
      New Category
      <%= link_to new_category_path, class:"btn btn-primary fa-plus" do %>

      <% end%>
      </div>

  </div>


  <div  id="albums" class="dashboard-panel col-sm">

      <div class="h4 title"> albums </div>
    <% @albums.each do |album| %>

    <%= link_to edit_album_path(album) do %>
    <div class = "album-card album-img" style ="--album-cover-image: url(<%= url_for(album.album_cover_image ) %>);">

        <%= album.name %>

        </div>
    <% end %>

    <% end %>

    <div class=" category-new card">
      New Album
      <%= link_to new_album_path, class:"btn btn-primary fa-plus" do %>

      <% end%>
      </div>
  </div>



  <div id="musics" class="dashboard-panel col-sm">
  <h1>Musics</h1>
  <p> <%= @musics.count %> Songs </p>
  <p style="color: green"><%= notice %></p>
  <div id="musics" class="row" data-controller="audio">
    <% @musics.each do |music| %>
      <% if music.persisted? %>
        <%= render  music %>
      <% end %>
    <% end %>
  </div>
</div>

</div>


  <%= link_to "MUSIC", musics_index_path, class: 'btn btn-secondary'%>


  <%= link_to "New blog post", new_blog_post_path, class: 'btn btn-secondary' %>
