<div class="card">
   <div class="card-body">
<%= form_with(model: blog_post) do |form| %>
  <% if blog_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
        <% blog_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options: ['public','private','archived'], selected: blog_post.status %>
  </div>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.select :kind, options: ['fencing','school','project', 'music'], selected: blog_post.kind %>
  </div>


  <div class="form-group">
          <%= form.label :header_image %>
          <%= form.file_field :header_image, class: 'form-control' %>
          <% if blog_post.header_image.present? %>
            <small>current image:</small>
            <%= image_tag(blog_post.header_image , width: '100%') %>
          <% end %>
  </div>
  <div>
    <%= form.submit "Submit", class: "btn btn-outline-primary btn-secondary"%>
  </div>
<% end %>
  </div>  </div>
