<p style="color: green"><%= notice %></p>
<p style="color: white">
<%= BlogPost.public_count %> Public Articles and Counting!
</p>
<div class="container">
  <div class="d-flex flex-row justify-content-center">

<div id="blog_posts">
  <% @blog_posts.each do |blog_post| %>

    <%= link_to edit_blog_post_path(blog_post), class: 'text-decoration-none' do  %>
    <div class="card mt-3 post-card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <% if blog_post.header_image.present? %>
            <div class="header-img" style="background-image: url(<%= url_for(blog_post.header_image) %>);">

            </div>
            <% end %>
          </div>



            <div class="col-md-10">

                <% if blog_post.public? %>
                Published
                <% elsif blog_post.archived? %>
                  Archived
                  <% elsif blog_post.private? %>
                  Private
                <% end %>

              <h5 class='card-title mb-1 text-dark'><%= blog_post.title %></h5>
              <p class='text-secondary mb-0'><%= blog_post.description %> </p>
            </div>


        </div>


      </div>
    </div>
    <% end %>
  <% end %>

</div>

<%= link_to "New blog post", new_blog_post_path %>
</div></div>
