
<div class= "form-card" style="">
  <p style="color: green"><%= notice %></p>
<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @album.album_cover_image.present? %>

    <div class="album-img" style="background-image: url(<%= url_for(@album.album_cover_image) %>);">
    </div>
  <% end %>

  <div class="cover-image-upload card">
    <%= form.label :album_cover_image, style: "display: block" %>
    <%= form.file_field :album_cover_image %>
    </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>
