
<div class="d-flex">

<div class="album-card card col col-md-2 col-sm">

  <div class="album-img header-img" style="
    --album-cover-image: url(<%= url_for(@album.album_cover_image) %>)">
    </div>


      <h6> <%= @album.name %> </h6>
    <div class="music-list" id="controls" data-controller="audio">

      <% @album.musics.each do |music| %>

          <%= render music %>

      <% end %>
    </div>

    <div>
      <%= @album.story %>
      </div>

      <%= link_to "Back to albums", albums_path, class:"btn btn-primary" %>
</div>

<div  class="other-albums col-sm" style="max-width: 20%;">
  <h4 class="card">My other Albums: </h4>
  <% @albums.order(created_at: :desc).excluding(@album).each do |album| %>
    <div style="max-width: 60%;">
    <%= render "album_cover", album: album %>
    </div>
  <% end %>

</div>

</div>
