
<p style="color: green"><%= notice %></p>

<div class="card col col-md-2">

  <div class="album-img header-img" style="
    --album-cover-image: url(<%= url_for(@album.album_cover_image) %>)">
    </div>


    <div class="music-list" id="controls" data-controller="audio">

      <% @album.musics.each do |music| %>

          <%= render music %>

      <% end %>
    </div>



</div>




<div class="actions">
<%= link_to "Edit this album", edit_album_path(@album) %> |


<%= button_to "Destroy this album", @album, method: :delete %>
</div>
</div>



  <div class="bottom">
      <%= link_to "Back to albums", albums_path %>
</div>
