
<%= render "category_header", category: @category %>

<div id="blog_posts">

    <% @blog_posts.each do  |blog_post| %>

      <%= link_to blog_post_path(blog_post), class: 'text-decoration-none' do  %>
        <%= render "blog_posts/bp_card", blog_post: blog_post %>
      <% end %>
    <% end %>
    <% if @blog_posts.count == 0 %>
    <div class="card visitor-message"> No blog posts belong to this category yet...check back when the admin has updated the page! </div>
    <% end %>
</div>
<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

</div>
