

<h1>Musics</h1>
<p> <%= @musics.count %> Songs </p>
<p style="color: green"><%= notice %></p>
<div id="musics" class="row">
  <% @musics.each do |music| %>
    <% if music.persisted? %>\

      <div id="controls" data-controller="music">
      <%= render  music %>
      </div>
      <%= render "form", album: @album, music: music %>
    <% end %>
  <% end %>
</div>


<div class="bottom">
<%= link_to "Home Page", home_page_index_path, class:"btn btn-secondary"%>
<%= link_to "Albums", albums_path, class:"btn btn-secondary" %>
<%= link_to "Blog posts", blog_posts_path, class:"btn btn-secondary" %>
</div>
